<nav class="nav p-2 d-flex flex-column justify-content-between bg-light w-296">
  <div class="menu">
    <h1 class="logo ms-4 my-4">Logo</h1>
    <ul>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">assessment</span>
        <p class="ms-2">Dashboard</p>
      </a>
    </li>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">forum</span>
        <p class="ms-2">Question</p>
      </a>
    </li>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">assignment</span>
        <p class="ms-2">Assignment</p>
      </a>
    </li>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">video_library</span>
        <p class="ms-2">Course</p>
      </a>
    </li>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">group</span>
        <p class="ms-2">Admin</p>
      </a>
    </li>
    <li class="mb-3">
      <a class="d-flex" href="#">
        <span class="material-icons">settings</span>
        <p class="ms-2">Settings</p>
      </a>
    </li>
    </ul>
  </div>  
  <div class="user d-flex align-items-center ms-4 my-4">
    <img src="../assets/image/andychen.jpeg" alt="andy">
    <div class="user-info">
      <p class="mb-1">Andy Chen</p>
      <p class="fs-7 mb-0">andy0401@mail.com</p>
    </div>
  </div>
</nav>