.nav {
  position:fixed;
  min-width: 200px;
  .logo {
    background-image: url(.././image/logo-ANSWER.svg);
    width: 100%;
    background-repeat: no-repeat;
    text-indent: 105%;
    overflow: hidden;
    white-space: nowrap;
  }
}